html {
  background-color: #1f003c;
  color: whitesmoke;
}
.continer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  max-width: 600px;
  height: 500px;
  background-color: hsl(271, 100%, 31%);
  margin: 20px auto;
  /* padding: 10px; */
  border-radius: 5%;
}
button {
  all: unset;
  width: 50px;
  height: 30px;
  background-color: rgb(140 0 153);
  border-radius: 30%;
  margin-top: 7px;
}

.counters {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.counters h1 {
  margin: 0px 10px 0px 10px;
}
